@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: "Inter", sans-serif;
  --box-shadow: 4px 4px 8px hsla(0, 0%, 0%, 0.2);
  --border-radius: 8px;
  --bg-transparent-100: hsl(0, 0%, 9%, 35%);
  --bg-transparent-900: hsl(0, 0%, 9%, 65%);
  --clr-neutral-100: hsl(0, 0%, 95%);
  --clr-neutral-800: hsl(222, 11%, 28%);
  --clr-neutral-900: hsl(222, 11%, 18%);
  --clr-accent-100: hsl(207, 65%, 58%);

  font-family: var(--font-main);
  color: var(--clr-neutral-900);
}

body {
  background: rgb(232, 232, 232) fixed;
  background-image: linear-gradient(
    120deg,
    #cbcbcb 0%,
    rgb(124, 124, 124) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100vh;
}

/* 
header
*/

header {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr max-content;
  align-items: center;

  padding-inline: 1rem;

  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);

  z-index: 12;
}

/* add book button */
header > button {
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-100);

  transition: background 0.15s ease-in-out;
}

header > button:focus,
header > button:hover {
  background: var(--clr-accent-100);
  color: var(--clr-neutral-100);
  transition: all 0.15s ease-in-out;
}

/*
book section / grid
*/

.book-section {
  display: flex;
  justify-content: center;
}

.book-grid {
  position: relative; /* for footer */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;

  width: min(100%, 1280px);
  padding: 5vh 1rem;
}

/*
book cards
*/

.card {
  display: flex;
  flex-direction: column;

  scale: 0.95;
  transition: scale 0.15s ease-in-out;

  width: min(100%, 480px);
  height: 100%;

  padding: 1.5rem;
  padding-bottom: 1rem;

  background: var(--clr-neutral-100);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  border: 0.25em solid var(--clr-accent-100);
  border-left: calc(var(--border-radius) + 0.25em) solid var(--clr-accent-100);
}

.card:focus,
.card:hover {
  scale: 1;
  transition: scale 0.15s ease-in-out;
}

.card > h2 {
  position: relative;

  overflow-wrap: break-word;

  line-height: 1;
  font-weight: 700;
  font-size: 1.25rem;

  color: var(--clr-neutral-900);

  z-index: 1;
}

/* author */
/* .card > p:first-of-type {
  font-style: italic;
} */

.card > p:last-of-type {
  margin-top: 1em;
  font-size: 0.85em;
}

/* page count */
.card p + p {
  margin-bottom: 1rem;
}

/* page count  */
.card h2 + p + p::after {
  content: " Pages";
}

.card .card-icon-container {
  margin-top: auto;

  display: flex;
  justify-content: end;
  align-items: center;

  --border-hover-size: 0.25em;
}

.card .fa-solid,
.card .fa-regular {
  /* this is used to offset the hover effect. without it, the card grows & shifts on hover. */
  --icon-padding: 0.35em;
  padding: var(--icon-padding);

  font-size: 1.25em;
}

.card .fa-solid {
  color: var(--clr-neutral-800);
  transition: color 0.15s ease-in-out;
}

.card .fa-solid:hover,
.card .fa-solid:focus {
  padding: calc(var(--icon-padding) - var(--border-hover-size));

  color: var(--clr-neutral-100);
  background: var(--clr-accent-100);

  transition: color 0.15s ease-in-out;

  border: var(--border-hover-size) solid var(--clr-accent-100);
  border-radius: var(--border-radius);
}

/* read/unread status icon & word */
.card .fa-regular.fa-square-check,
.card .fa-regular.fa-square {
  padding-left: 0;
}

.readStatusContainer {
  display: flex;
  align-items: center;
  margin-right: auto;

  color: var(--clr-neutral-800);
  transition: color 0.15s ease-in-out;

  cursor: pointer;
}

.card .card-icon-container .readStatusContainer:hover,
.card .card-icon-container .readStatusContainer:focus {
  padding: var(--icon-padding);
  padding-left: 0;

  color: var(--clr-accent-100);
  background: none;

  transition: color 0.15s ease-in-out;

  border: none;
  border-radius: none;
}

p.read {
  font-weight: 800;
}

/*
Add Book MODAL Pop-up
*/

section.modal-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  transition: opacity 0.2s ease-in;
  z-index: 1;

  background: var(--bg-transparent-900);
}

section.modal-container.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-out;
}

div.modal {
  position: fixed;
  display: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  margin: 0;

  background-color: var(--clr-neutral-100);
  border-radius: var(--border-radius);
}

/* modal title bar */
.modal-header {
  display: flex;
  align-items: center;

  padding: 1rem;
  height: 3rem;

  border-radius: var(--border-radius) var(--border-radius) 0 0;

  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);

  font-weight: 600;
}

/* close button */
.modal i {
  color: var(--clr-neutral-100);
  font-size: 1.5rem;
  position: absolute;
  top: 0.5em;
  right: 1rem;
}

.modal i:hover,
.modal i:focus {
  color: var(--clr-accent-100);
}

.modal form {
  padding: 1rem;
}

.input-container {
  margin-bottom: 1rem;
}

.modal label:not(.checkbox) {
  font-weight: 600;
  display: block;
}

.modal input {
  padding: 0.5rem 0.5rem;
  margin-top: 0.25rem;

  border-radius: var(--border-radius);
  border: 1px solid var(--bg-transparent-100);
}

.modal input[type="number"] {
  width: 10ch;
}

input::placeholder {
  color: var(--bg-transparent-100);
}

.modal .checkbox-container {
  padding-block: 1rem;
}

.modal button {
  margin-top: 1rem;
  margin-left: auto;
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  transition: background-color 0.15s ease-in-out;
}

.modal button:focus,
.modal button:hover {
  background: var(--clr-accent-100);
  color: var(--clr-neutral-100);
  transition: background-color 0.15s ease-in-out;
}

/*
footer
*/

footer {
  margin-top: auto;
  width: 100%;
  padding: 1.5rem;

  color: var(--clr-neutral-900);
  font-size: 1.25rem;
  font-weight: 800;

  transition: all 0.25s ease-in-out;
}

footer i {
  font-size: 1.5em;
}

a:hover,
a:focus {
  color: var(--clr-neutral-100);
  transition: all 0.25s ease-in-out;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  text-decoration: none;
  color: var(--clr-neutral-900);
}

/*
global properties
*/

button {
  cursor: pointer;
  display: block;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  font-weight: 600;
}

p {
  line-height: 1.5;
}

i {
  cursor: pointer;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
